%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

$accent: #fcd7b6;
$accentlight: #fde7d3;       
$greendark: #436372;
$graylight: #edf1f4;
$white: #fff;
$num: #243f4d;
$icon: #a3bbc8;
$title: #29282d;